h1{
  text-align: center;
}

form{
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
}
input{
  margin-top: 10px;
}

button{
  margin-top: 20px;
}

output{
  display: flex;
  flex-direction: column;
}

#showResponse{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 50px;
  margin-top: 20px;
}

img{
  width: 200px;
}